.eggs
*.egg
*.egg-info
*.swp
*.pyc
__pycache__
results
results.xml
*.log
*.jsonc
.cache
/playbooks/credentials.yml
/playbooks/*vars.*
/playbooks/inventory.*
/tests/jira.cfg
/tests/credentials.yml
/tests/credentials.yaml
/tests/sauce_labs.yaml
