.eggs
*.egg
*.egg-info
*.swp
*.pyc
__pycache__
results
results.xml
*.log
*.jsonc
.tox
.cache
chromedriver
/playbooks/credentials.yml
/playbooks/*vars.*
/playbooks/inventory.*
/tests/credentials.yml
/tests/credentials.yaml
tools/docker/.build
