.eggs
*.egg
*.egg-info
*.swp
*.pyc
__pycache__
results
results.xml
*.log
*.retry
*.jsonc
.tox
.cache
chromedriver
/playbooks/credentials.yml
/playbooks/*vars.*
/playbooks/inventory.*
reports
*credentials.yml
*credentials.yaml
tools/docker/.build
