azure
boto
boto3
botocore
inflect
junit2html
junit-xml
junitparser
openshift
pip
protobuf
pysphere
pytest
git+ssh://git@github.com/ansible/pytest-mp.git
git+ssh://git@github.com/ansible/pytest-ansible.git
pytest-cache
pytest-cov
pytest-github
pytest-ordering
python-dateutil
pytz
git+ssh://git@github.com/ansible/towerkit.git
