boto
boto3
botocore
elasticsearch
fauxfactory
git+ssh://git@github.com/ansible/pytest-ansible.git
git+ssh://git@github.com/jlaska/pytest-github.git
google-api-python-client
junit-xml
junit2html
junitparser
kubernetes>=8.0.0,<9.0.0
openshift==0.8.9
pip
pycodestyle
pycrypto
pytest
pytest-benchmark
pytest-ordering
python-dateutil
pytz
requests
git+ssh://git@github.com/ansible/towerkit.git
