boto
boto3
botocore
cryptography
elasticsearch
fauxfactory
gcloud
git+ssh://git@github.com/ansible/pytest-ansible.git
git+ssh://git@github.com/ansible/tower.git@release_3.6.2#egg=awxkit[websockets]&subdirectory=awxkit
git+ssh://git@github.com/jlaska/pytest-github.git
google-api-python-client
junit-xml
junit2html
junitparser
kubernetes>=8.0.0,<9.0.0
openshift==0.8.9
pip
pycodestyle
pytest
pytest-benchmark
pytest-ordering
pytest-xdist
python-dateutil
pytz
requests
slacker
