#
# AWX username and password
#
users:
    admin: &default_user
        username: admin
        password: password
    default: *default_user

default: *default_user

#
# Project SCM credentials
#
scm:
    username: git
    password: FIXME
    ssh_pubkey: |
        FIXME
    ssh_key_data: |
        FIXME
    ssh_key_unlock: ''
    encrypted:
        ssh_pubkey: |
            FIXME
        ssh_key_data: |
            FIXME
        ssh_key_unlock: FIXME

#
# Machine Credentials
#
ssh:
    username: root
    password: FIXME
    sudo_username: ''
    sudo_password: ''
    vault_password: ''
    ssh_pubkey: |
        FIXME
    ssh_key_data: |
        FIXME
    ssh_key_unlock: ''
    encrypted:
        ssh_pubkey: |
            FIXME
        ssh_key_data: |
            FIXME
        ssh_key_unlock: ''

#
# Cloud Inventory Credentials
#
cloud:
    rackspace:
        username: FIXME
        password: FIXME
    rax:
        username: FIXME
        password: FIXME
    ec2:
        username: FIXME
        password: FIXME
    aws:
        username: FIXME
        password: FIXME
