#
# AWX username and password
#
default:
    username: admin
    password: password

#
# Project SCM credentials
#
scm:
    username: git
    password: FIXME
    ssh_pubkey: |
        FIXME
    ssh_key_data: |
        FIXME
    encrypted:
        ssh_pubkey: |
            FIXME
        ssh_key_data: |
            FIXME
        ssh_key_unlock: FIXME

#
# Machine Credentials
#
ssh:
    username: root
    password: FIXME
    sudo_username: ''
    sudo_password: ''
    ssh_pubkey: |
        FIXME
    ssh_key_data: |
        FIXME
    ssh_key_unlock: ''

#
# Cloud Inventory Credentials
#
cloud:
    rackspace:
        username: FIXME
        password: FIXME
    rax:
        username: FIXME
        password: FIXME
    ec2:
        username: FIXME
        password: FIXME
    aws:
        username: FIXME
        password: FIXME
