default:
    username: admin
    password: password
ssh:
    public-key: |
        FIXME
    private-key: |
        FIXME
cloud:
    rackspace:
        username:
        password:
    ec2:
        username:
        password:
