# This pulls in all the libraries needed to run Selenium tests
# on Mozilla WebQA projects

pip
setuptools
selenium
py
pytest
pytest-cov
pytest-cache
pytest-mozwebqa
pytest-capturelog
pytest-instafail
pytest-ansible
# pytest-jira # Don't install until we fix the pytest-jira plugin
UnittestZero
requests
PyYAML
jsonschema
inflect
ansible
python-dateutil
azure==0.8.1
boto==2.13.3
pyrax==1.6.3
# pysphere==0.1.8
pysphere
fauxfactory
junit-xml
# https://gitlab.com/pycqa/flake8/issues/9
flake8==2.1.0
pep8==1.5.6
pylint
