# This pulls in all the libraries needed to run Selenium tests
# on Mozilla WebQA projects

selenium
py
pytest
pytest-cov
pytest-mozwebqa
pytest-jira
UnittestZero
requests
PyYAML
jsonschema
pip
ansible
