# This pulls in all the libraries needed to run Selenium tests
# on Mozilla WebQA projects

pip
setuptools>=18.4
selenium
py
pytest
pytest-cov
pytest-cache
pytest-mozwebqa
pytest-capturelog
pytest-instafail
pytest-ordering
pytest-ansible
pytest-github
pylama
pylama_pylint
requests
PyYAML
jsonschema
inflect
ansible
python-dateutil
fauxfactory
junit-xml
flake8
pep8
# pylint
azure
boto
pyrax
pysphere
