{% for grp in groups %}
[{{ grp }}]
{% for host in groups[grp] %}
{% if grp == 'all' %}
{% if host == '127.0.0.1' %}
{{ host }} ansible_connection=local ansible_python_interpreter=${VIRTUAL_ENV-/usr}/bin/python
{% else %}
{{ host }} ansible_connection=winrm ansible_host={{ hostvars[host]['ansible_host'] }} ansible_port={{ hostvars[host]['ansible_port'] }} ansible_user={{ hostvars[host]['ansible_user'] }} ansible_pass={{ hostvars[host]['ansible_pass']|quote }}
{% endif %}
{% else %}
{{ host }}
{% endif %}
{% endfor %}

{% endfor %}
