ansible
azure
boto
factory_boy
fauxfactory
flake8
gcloud==0.17.0 # https://github.com/GoogleCloudPlatform/gcloud-python/issues/2066
hypchat
inflect
jsonschema
junit-xml
pep8
pip
py
pylama
pylama_pylint
pyrax
pysphere
pytest
pytest-ansible
pytest-cache
pytest-capturelog
pytest-cov
pytest-github
pytest-html
pytest-instafail
pytest-ordering
pytest-selenium
python-dateutil
PyYAML
requests
selenium
setuptools>=18.4
slacker
