---
# Tasks to install awx-setup package-related dependencies on EL systems


# NOTE(spredzy): Currently in AWS if running rhel8 in fips mode
#                sslverification fails for repo hence we disable
#                it. This can safely be removed once the issue is
#                fixed from the RHUI team
- name: Do not sslverify packages (when rhel8 and fips is running)
  command: sed -i 's/sslverify=1/sslverify=0/g' {{ item }}
  loop:
    - /etc/yum.repos.d/redhat-rhui.repo
    - /etc/yum.repos.d/redhat-rhui-client-config.repo
  when: ansible_distribution_major_version == '8' and awx_use_fips | default(false) | bool

- name: update yum
  package:
    name: yum
    state: latest
    update_cache: true
  when: ansible_pkg_mgr == 'yum'
  retries: 5
  delay: 10
  register: result
  until: result is succeeded

- name: update dnf
  package:
    name: dnf
    state: latest
    update_cache: true
  when: ansible_pkg_mgr == 'dnf'
  retries: 5
  delay: 10
  register: result
  until: result is succeeded

- name: include variable file
  include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml'
        - 'default.yml'
      paths: '../vars'

- name: include rhui tasks
  include: rhui.yml
  when: ansible_distribution == 'RedHat'

- name: include rhsm tasks
  include: rhsm.yml
  when: ansible_distribution == 'RedHat'

# NOTE(spredzy): Currently in AWS if running rhel8 in fips mode
#                sslverification fails for repo hence we disable
#                it. This can safely be removed once the issue is
#                fixed from the RHUI team
- name: Do not sslverify packages (when rhel8 and fips is running)
  command: sed -i 's/sslverify=1/sslverify=0/g' {{ item }}
  loop:
    - /etc/yum.repos.d/redhat-rhui.repo
    - /etc/yum.repos.d/redhat-rhui-client-config.repo
  when: ansible_distribution_major_version == '8' and awx_use_fips | default(false) | bool

- name: install playbook dependency rpms
  package:
    name: '{{ rpm_role_dependencies }}'
    state: latest

# https://bugzilla.redhat.com/show_bug.cgi?id=1405175
- name: update selinux-policy
  package:
    name: selinux-policy
    state: latest

# install ansible nightly yum repo (optional)

- name: install ansible nightly yum repository
  template:
    src: files/ansible_yum.repo.j2
    dest: /etc/yum.repos.d/ansible.repo
  register: yum_repo
  when: ansible_install_method == 'nightly'

- name: yum clean cached ansible repository information
  command: yum clean all --disablerepo=* --enablerepo=ansible-nightly
  args:
    warn: false
  when: yum_repo is defined and yum_repo.changed

# enable ansible-nightly repo (optional)

- name: Enable ansible repo (nightly)
  command: yum-config-manager --enablerepo ansible-nightly
  when: ansible_install_method == 'nightly'

# install ansible

- name: install ansible rpm (stable/testing)
  package:
    name: '{{ ansible_package_name }}'
    state: latest
  when: ansible_install_method in ['stable', 'testing']

- name: gather ansible nightly dependencies
  command: yum deplist --disablerepo=* --enablerepo=ansible-nightly ansible
  args:
    warn: false
  register: nightly_dep_candidates
  when: ansible_install_method == 'nightly'

- name: filter nightly ansible dependency candidates
  set_fact:
    nightly_ansible_dependencies: |
      {{ nightly_dep_candidates.stdout_lines|map("regex_search", ".*dependency.*")
      |select("string")|map("regex_replace", "  dependency: ", "")
      |map("regex_search", "^[a-zA-Z0-9\-]+$")|select("string")|list|unique }}
  when: ansible_install_method == 'nightly' and nightly_dep_candidates is defined

- name: install ansible nightly dependencies
  package:
    name: '{{ nightly_ansible_dependencies }}'
    state: latest
  when: ansible_install_method == 'nightly' and nightly_ansible_dependencies is defined

- name: install ansible rpm (nightly)
  package:
    name: '{{ ansible_package_name }}'
    state: latest
    disablerepo: '*'
    enablerepo: ansible-nightly
  when: ansible_install_method == 'nightly'

- name: install pip rpm
  package:
    name: python-pip
    state: installed
  when: ansible_install_method == 'pip' and ansible_distribution_major_version == '7'

- name: install pip rpm
  package:
    name: python3-pip
    state: installed
  when: ansible_install_method == 'pip' and ansible_distribution_major_version == '8'

- name: Symlink pip3.6 tot pip3
  file:
    src: /usr/bin/pip-3.6
    dest: /usr/bin/pip3
    state: link
  when: ansible_install_method == 'pip' and ansible_distribution_major_version == '8'

- name: install ansible pip
  pip:
    name: '{{ ansible_package_name }}'
    state: latest
  when: ansible_install_method == 'pip'

- name: verify that ansible was installed
  command: ansible --version
  changed_when: false
  when: ansible_install_method not in ['none', None]
