[ansible-nightly]
name=Nightly Ansible Repository - $releasever $basearch
{% if ansible_distribution_version.startswith('7') %}
baseurl={{ ansible_repo_url }}/rpm/epel-7-$basearch
{% else %}
baseurl={{ ansible_repo_url }}/rpm/epel-6-$basearch
{% endif %}
gpgcheck=0
enabled=0
metadata_expire=7d
