# Override awx setup playbook variables

{% if aw_repo_url is defined %}
aw_repo_url: {{aw_repo_url}}
{% endif %}
{% if admin_password is defined %}
admin_password: {{admin_password}}
{% endif %}
{% if pg_password is defined %}
pg_password: {{pg_password}}
{% endif %}
{% if rabbitmq_password is defined %}
rabbitmq_password: {{rabbitmq_password}}
{% endif %}
{% if munin_password is defined %}
munin_password: {{munin_password}}
{% endif %}
{% if awx_package_name is defined %}
awx_package_name: {{awx_package_name}}
{% endif %}
