# Override awx setup playbook variables

{% if aw_repo_url is defined %}
aw_repo_url: {{aw_repo_url}}
{% endif %}
{% if awx_package_name is defined %}
awx_package_name: {{awx_package_name}}
{% endif %}
