{% if 'tower' in groups %}
[tower]
localhost ansible_connection=local ansible_python_interpreter="{{ hostvars[inventory_hostname]['ansible_python_interpreter'] | default('/usr/bin/env python')}}"
{# {{ inventory_hostname }} ansible_user={{ hostvars[inventory_hostname]['ansible_user'] }} ansible_host={{ hostvars[inventory_hostname]['ansible_host'] }}   #}
{% endif %}

{% if 'database' in groups %}
[database]
{% for host in groups['database'] %}
{{ host }} ansible_user={{ hostvars[host]['ansible_user'] }} ansible_host={{ hostvars[host]['ansible_host'] }} ansible_python_interpreter="{{ hostvars[host]['ansible_python_interpreter'] | default('/usr/bin/env python') }}"
{% endfor %}
{% endif %}

[all:vars]
{% if admin_password is defined %}
admin_password='{{ admin_password }}'
{% endif %}

{# Determine if using a remote postgres instance #}
{% if 'tower_db' in hostvars['localhost'] %}
pg_host="{{ hostvars['localhost']['tower_db']['pg_host'] }}"
pg_port="{{ hostvars['localhost']['tower_db']['pg_port'] }}"
pg_database="{{ hostvars['localhost']['tower_db']['pg_database'] }}"
pg_username="{{ hostvars['localhost']['tower_db']['pg_username'] }}"
pg_password="{{ hostvars['localhost']['tower_db']['pg_password'] }}"
{% else %}
{% if 'database' in groups %}
pg_host="{{ groups['database'][0] }}"
pg_port="{{ pg_port|default(5432) }}"
{% elif pg_host is defined and pg_host != '' | default(false) %}
pg_host="{{ pg_host }}"
pg_port="{{ pg_port | default(5432) }}"
{% elif awx_ipv6_deployment | default(false) %}
pg_host="::1"
pg_port="{{ pg_port | default(5432) }}"
{% endif %}
pg_database="{{ pg_database }}"
pg_username="{{ pg_username }}"
pg_password="{{ pg_password }}"
{% endif %}

{% if 'tower' in groups %}
rabbitmq_port='{{ rabbitmq_port }}'
rabbitmq_vhost='{{ rabbitmq_vhost }}'
rabbitmq_username='{{ rabbitmq_username }}'
rabbitmq_password='{{ rabbitmq_password }}'
rabbitmq_use_long_name='{{ rabbitmq_use_long_name|bool|string|lower }}'
rabbitmq_cookie='{{ rabbitmq_cookie }}'
rabbitmq_enable_manager='{{ rabbitmq_enable_manager }}'
{% endif %}
