[tower]
localhost ansible_connection=local
{# {{ inventory_hostname }} ansible_ssh_user={{ hostvars[inventory_hostname]['ansible_ssh_user'] }} ansible_ssh_host={{ hostvars[inventory_hostname]['ansible_ssh_host'] }} #}

[all:vars]
{% if admin_password is defined %}
admin_password='{{admin_password}}'
{% endif %}
{% if munin_password is defined %}
munin_password='{{munin_password}}'
{% endif %}
{% if redis_password is defined %}
redis_password='{{redis_password}}'
{% endif %}

## Determine if using a remote postgres instance
{% if 'tower_db' in hostvars['127.0.0.1'] %}
pg_host="{{hostvars['127.0.0.1']['tower_db']['pg_host']}}"
pg_port="{{hostvars['127.0.0.1']['tower_db']['pg_port']}}"
pg_database="{{hostvars['127.0.0.1']['tower_db']['pg_database']}}"
pg_username="{{hostvars['127.0.0.1']['tower_db']['pg_username']}}"
pg_password="{{hostvars['127.0.0.1']['tower_db']['pg_password']}}"
{% else %}
pg_database="{{pg_database}}"
pg_username="{{pg_username}}"
pg_password="{{pg_password}}"
{% endif %}

rabbitmq_port=5672
rabbitmq_vhost=tower
rabbitmq_username=tower
rabbitmq_password=tower
rabbitmq_use_long_name=true
