{% if 'cluster_installer' in groups %}
[tower]
{% for host in groups['tower'] %}
{{ host }} ansible_user={{ hostvars[host]['ansible_user'] }} ansible_python_interpreter="{{ hostvars[host]['ansible_python_interpreter'] | default('/usr/bin/env python')}}" ansible_host={{ hostvars[host]['ansible_host'] }}
{% endfor %}

{% for group in groups %}
{% if 'instance_group_' in group or 'isolated_group_' in group %}
[{{ group }}]
{% for host in groups[group] %}
{{ host }} ansible_user={{ hostvars[host]['ansible_user'] }} ansible_python_interpreter="{{ hostvars[host]['ansible_python_interpreter'] | default('/usr/bin/env python')}}" ansible_host={{ hostvars[host]['ansible_host'] }} {% if hostvars[host]['controller'] is defined and hostvars[host]['controller']|length > 0 %} controller={{ hostvars[host]['controller'] }}
{% endif %}

{% endfor %}

{% endif %}
{% endfor %}
{% endif %}

{% if 'database' in groups %}
[database]
{% for host in groups['database'] %}
{% if awx_ipv6_deployment | default(false) | bool %}
{{ hostvars[host].ansible_default_ipv6.address }} ansible_python_interpreter="{{ hostvars[host]['ansible_python_interpreter'] | default('/usr/bin/env python') }}" ansible_user={{ hostvars[host]['ansible_user'] }} ansible_ssh_private_key_file=~/.ssh/cluster_key
{% else %}
{{ hostvars[host].ansible_default_ipv4.address }} ansible_python_interpreter="{{ hostvars[host]['ansible_python_interpreter'] | default('/usr/bin/env python') }}" ansible_user={{ hostvars[host]['ansible_user'] }} ansible_ssh_private_key_file=~/.ssh/cluster_key
{% endif %}
{% endfor %}
{% endif %}


[all:vars]
{% if admin_password is defined %}
admin_password='{{ admin_password }}'
{% endif %}

{# Determine if using a remote postgres instance #}
{% if 'tower_db' in hostvars['localhost'] %}
pg_host="{{ hostvars['localhost']['tower_db']['pg_host'] }}"
pg_port="{{ hostvars['localhost']['tower_db']['pg_port'] }}"
pg_database="{{ hostvars['localhost']['tower_db']['pg_database'] }}"
pg_username="{{ hostvars['localhost']['tower_db']['pg_username'] }}"
pg_password="{{ hostvars['localhost']['tower_db']['pg_password'] }}"
{% elif pg_host | default('') %}
pg_host="{{ pg_host }}"
{% elif awx_ipv6_deployment | default(false) | bool %}
pg_host="{{ hostvars[groups['database'][0]].ansible_default_ipv6.address }}"
{% else %}
pg_host="{{ hostvars[groups['database'][0]].ansible_default_ipv4.address }}"
{% endif %}

pg_port="{{ pg_port | default('5432') }}"
pg_database="{{ pg_database }}"
pg_username="{{ pg_username }}"
pg_password="{{ pg_password }}"

{% if 'tower' in groups %}
rabbitmq_port='{{ rabbitmq_port }}'
rabbitmq_vhost='{{ rabbitmq_vhost }}'
rabbitmq_username='{{ rabbitmq_username }}'
rabbitmq_password='{{ rabbitmq_password }}'
rabbitmq_use_long_name='{{ rabbitmq_use_long_name|bool|string|lower }}'
rabbitmq_cookie='{{ rabbitmq_cookie }}'
rabbitmq_enable_manager='{{ rabbitmq_enable_manager }}'
{% endif %}

