{% if 'cluster_installer' in groups %}
[tower]
{% for host in groups['tower'] %}
{{ host }} ansible_user={{ hostvars[host]['ansible_user'] }} ansible_host={{ hostvars[host]['ansible_host'] }}
{% endfor %}

{% for group in groups %}
{% if 'instance_group_' in group or 'isolated_group_' in group %}
[{{ group }}]
{% for host in groups[group] %}
{{ host }} ansible_user={{ hostvars[host]['ansible_user'] }} ansible_host={{ hostvars[host]['ansible_host'] }} {% if hostvars[host]['controller']|length > 0 %} controller={{ hostvars[host]['controller'] }}
{% endif %}

{% endfor %}

{% endif %}
{% endfor %}
{% endif %}

{% if 'secondary' in groups %}
[primary]
{% for host in groups['primary'] %}
{{ host }} ansible_user={{ hostvars[host]['ansible_user'] }} ansible_host={{ hostvars[host]['ansible_host'] }}
{% endfor %}

[secondary]
{% for host in groups['secondary'] %}
{% if host == '127.0.0.1' %}
{{ host }} ansible_python_interpreter='/usr/bin/env python'
{% else %}
{{ host }} ansible_user={{ hostvars[host]['ansible_user'] }} ansible_host={{ hostvars[host]['ansible_host'] }}
{% endif %}
{% endfor %}
{% endif %}

{% if 'database' in groups %}
[database]
{% for host in groups['database'] %}
{{ hostvars[host].ansible_default_ipv4.address }} ansible_user={{ hostvars[host]['ansible_user'] }}
{% endfor %}
{% endif %}


[all:vars]
{% if admin_password is defined %}
admin_password='{{ admin_password }}'
{% endif %}
{% if munin_password is defined %}
munin_password='{{ munin_password }}'
{% endif %}
{% if redis_password is defined %}
redis_password='{{ redis_password }}'
{% endif %}

{# Determine if using a remote postgres instance #}
{% if 'tower_db' in hostvars['127.0.0.1'] %}
pg_host="{{ hostvars['127.0.0.1']['tower_db']['pg_host'] }}"
pg_port="{{ hostvars['127.0.0.1']['tower_db']['pg_port'] }}"
pg_database="{{ hostvars['127.0.0.1']['tower_db']['pg_database'] }}"
pg_username="{{ hostvars['127.0.0.1']['tower_db']['pg_username'] }}"
pg_password="{{ hostvars['127.0.0.1']['tower_db']['pg_password'] }}"
{% else %}
pg_host="{{ hostvars[groups['database'][0]].ansible_default_ipv4.address }}"
pg_port="{{ pg_port | default('5432') }}"
pg_database="{{ pg_database }}"
pg_username="{{ pg_username }}"
pg_password="{{ pg_password }}"
{% endif %}

{# Determine if using a remote mongo instance #}
{% if 'mongodb' in groups and groups['mongodb']|length > 0 %}
{% set mongo_host=groups['mongodb'][0] %}
mongo_host="{{ mongo_host }}"
mongo_port="{{ hostvars[mongo_host]['mongo_port'] }}"
mongo_database="{{ hostvars[mongo_host]['mongo_database'] }}"
mongo_username="{{ hostvars[mongo_host]['mongo_username'] }}"
mongo_password="{{ hostvars[mongo_host]['mongo_password'] }}"
{% else %}
mongo_database="{{ mongo_database }}"
mongo_username="{{ mongo_username }}"
mongo_password="{{ mongo_password }}"
{% endif %}

{% if 'tower' in groups %} 
rabbitmq_port='{{ rabbitmq_port }}'
rabbitmq_vhost='{{ rabbitmq_vhost }}'
rabbitmq_username='{{ rabbitmq_username }}'
rabbitmq_password='{{ rabbitmq_password }}'
rabbitmq_use_long_name='{{ rabbitmq_use_long_name|bool|string|lower }}'
rabbitmq_cookie='{{ rabbitmq_cookie }}'
rabbitmq_enable_manager='{{ rabbitmq_enable_manager }}'
{% endif %}

