{% if 'tower_db' in hostvars['127.0.0.1'] %}
database: external
pg_database: {{hostvars['127.0.0.1']['tower_db']['pg_database']}}
pg_host: {{hostvars['127.0.0.1']['tower_db']['pg_host']}}
pg_port: {{hostvars['127.0.0.1']['tower_db']['pg_port']}}
pg_username: {{hostvars['127.0.0.1']['tower_db']['pg_username']}}
pg_password: {{hostvars['127.0.0.1']['tower_db']['pg_password']}}
{% else %}
database: internal
{% endif %}
