---
## Override awx setup playbook variables
{% if aw_repo_url is defined %}
aw_repo_url: {{aw_repo_url}}
{% endif %}
{% if awx_package_name is defined %}
awx_package_name: {{awx_package_name}}
{% endif %}

## Disable gpg signature checking on nightly builds
{% if "testing.ansible.com" in aw_repo_url %}
gpgcheck: 0
{% endif %}

pendo_state: {{ pendo_state|default('off') }}

## Specify tower preflight disk space check
minimum_var_space: {{minimum_var_space}}

nginx_disable_https: {{disable_ssl}}
