---
## Override awx setup playbook variables
{% if aw_repo_url is defined %}
aw_repo_url: {{aw_repo_url}}
{% endif %}
{% if awx_package_name is defined %}
awx_package_name: {{awx_package_name}}
{% endif %}

## Disable gpg signature checking on nightly builds
{% if "testing.ansible.com" in aw_repo_url %}
gpgcheck: 0
{% endif %}

pendo_state: {{ pendo_state|default('off') }}

## Specify tower preflight disk space check
minimum_var_space: {{minimum_var_space}}

nginx_disable_https: {{disable_ssl}}

isolated_key_generation: {{isolated_key_generation}}

{% if cluster_install | default(false) | bool %}
ansible_private_key_file: ~/.ssh/cluster_key
{% endif %}
ansible_host_key_checking: False
ipv6_deployment: {{ awx_ipv6_deployment | default(false) }}

{% if awx_use_tls | default(false) | bool %}
web_server_ssl_cert: /tmp/tower.crt
web_server_ssl_key: /tmp/tower.key
postgres_use_ssl: True
postgres_ssl_cert: /tmp/pgsql.crt
postgres_ssl_key: /tmp/pgsql.key
custom_ca_cert: /tmp/root.crt
{% if cluster_install | default(false) | bool %}
rabbitmq_use_ssl: True
{% endif %}
{% endif %}

{% if ansible_distribution_major_version == '7' %}
redhat_aws_rhui_repos:
  - rhel-7-server-rhui-extras-rpms
  - rhel-server-rhui-rhscl-7-rpms
{% endif %}
