dn: uid=ldap_binder,cn=sysaccounts,cn=etc,{{ freeipa_dn }} 
add:objectclass:account
add:objectclass:simplesecurityobject
add:uid:ldap_binder
add:userPassword:secret123
add:passwordExpirationTime:20380119031407Z
add:nsIdleTimeout:0
