global
    debug
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock
    stats timeout 30s
    user haproxy
    group haproxy

defaults
    log global
    option tcplog
    option dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    mode http
    
frontend http-in
   bind *:80
   redirect scheme https code 301    

frontend tower_cluster
    bind 0.0.0.0:443 ssl crt /etc/awx.pem
    reqadd X-Forwarded-Proto:\ https
    default_backend tower_cluster

backend tower_cluster
    balance roundrobin
    http-request set-header X-Forwarded-Port %[dst_port]
{% for host in groups['tower'] %}
    server tower_{{ loop.index }} {{ host }}:80 check
{% endfor %}

listen stats
    bind *:1936
    mode http
    stats enable
    stats uri /stats
