---

create_ec2_assign_public_ip: true
create_ec2_vpc_id: vpc-552da032
create_ec2_vpc_subnet_id: subnet-9cdddbb0

user_data_install_py2: &install_py2
  "{{ lookup('file', 'files/install_py2.sh') }}"

ec2_images:
    # CentOS 6.5, 6.6 images not produced by CentOS (1/5/15)
    - {'name': 'centos-6.5-x86_64',      'user': 'root',        'id': 'ami-8997afe0', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    # Latest CentOS6: need to confirm that the ami id remains valid when the image is updated
    - {'name': 'centos-6.latest-x86_64', 'user': 'centos',      'id': 'ami-57cd8732', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    - {'name': 'centos-7.0-x86_64',      'user': 'centos',      'id': 'ami-96a818fe', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    # Latest CentOS7: need to confirm that the ami id remains valid when the image is updated
    - {'name': 'centos-7.latest-x86_64', 'user': 'centos',      'id': 'ami-4bf3d731', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    - {'name': 'rhel-6.5-x86_64',        'user': 'ec2-user',    'id': 'ami-8d756fe4', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    - {'name': 'rhel-6.6-x86_64',        'user': 'ec2-user',    'id': 'ami-aed06ac6', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    - {'name': 'rhel-6.7-x86_64',        'user': 'ec2-user',    'id': 'ami-0d28fe66', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    - {'name': 'rhel-7.0-x86_64',        'user': 'ec2-user',    'id': 'ami-a8d369c0', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    - {'name': 'rhel-7.1-x86_64',        'user': 'ec2-user',    'id': 'ami-12663b7a', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    - {'name': 'rhel-7.2-x86_64',        'user': 'ec2-user',    'id': 'ami-2051294a', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    - {'name': 'rhel-7.3-x86_64',        'user': 'ec2-user',    'id': 'ami-b63769a1', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    - {'name': 'rhel-7.4-x86_64',        'user': 'ec2-user',    'id': 'ami-c998b6b2', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    - {'name': 'rhel-7.5-x86_64',        'user': 'ec2-user',    'id': 'ami-6871a115', 'type': 'm5.xlarge', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    - {'name': 'ubuntu-12.04-x86_64',    'user': 'ubuntu',      'id': 'ami-61930c76', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    - {'name': 'ubuntu-14.04-x86_64',    'user': 'ubuntu',      'id': 'ami-20d3fc4a', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    - {'name': 'ubuntu-16.04-x86_64',    'user': 'ubuntu',      'id': 'ami-e3c3b8f4', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower', 'user_data': *install_py2 }
    - {'name': 'ol-6.7-x86_64',          'user': 'ec2-user',    'id': 'ami-e9c98683', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    - {'name': 'ol-7.2-x86_64',          'user': 'ec2-user',    'id': 'ami-b9c38ad3', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    - {'name': 'ol-7.3-x86_64',          'user': 'ec2-user',    'id': 'ami-7c4b7e6b', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    - {'name': 'ol-7.4-x86_64',          'user': 'ec2-user',    'id': 'ami-75bde60f', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }
    - {'name': 'ol-7.5-x86_64',          'user': 'ec2-user',    'id': 'ami-3485114b', 'type': 'm3.medium', 'groups': 'tower,instance_group_non_default', 'security_group': 'Tower' }

_ec2_elastic_ips:
    - {'name': 'rhel-7.2-x86_64', 'eip': '35.169.222.27'}
    - {'name': 'rhel-7.4-x86_64', 'eip': '35.170.40.126'}
    - {'name': 'rhel-7.5-x86_64', 'eip': '52.54.81.210'}
    - {'name': 'centos-7.latest-x86_64', 'eip': '54.86.26.131'}

ec2_security_groups:
    - name: Tower
      description: Security group for Tower instances
      rules:
        - proto: tcp
          from_port: 22
          to_port: 22
          cidr_ip: 0.0.0.0/0
        - proto: tcp
          from_port: 80
          to_port: 80
          cidr_ip: 0.0.0.0/0
        - proto: tcp
          from_port: 443
          to_port: 443
          cidr_ip: 0.0.0.0/0
        - proto: tcp
          from_port: 5432
          to_port: 5432
          cidr_ip: 0.0.0.0/0
        - proto: tcp
          from_port: 8080
          to_port: 8080
          cidr_ip: 0.0.0.0/0
        - proto: udp
          from_port: 9001
          to_port: 9001
          cidr_ip: 0.0.0.0/0
        - proto: tcp
          from_port: 9001
          to_port: 9001
          cidr_ip: 0.0.0.0/0
