---
# This playbook installs ansible to multiple platforms across multiple cloud
# providers.

#
# Create remote hosts
#
- hosts: local
  gather_facts: false
  roles:
    - {role: create_ec2}
    - {role: save_inventory}

#
# Install ansible
#
- hosts: '!local'
  sudo: true
  roles:
    - {role: ansible_install}

#
# Create AMI and terminate instance
#
- hosts: local
  gather_facts: false
  roles:
    - {role: create_ami}
    - {role: terminate_ec2}
